.main.container {
  background-color: #FFFFFF !important;
  margin: 0 auto !important;
  padding: 2em 2em 7em !important;
  max-width: 990px !important;
}

.pt-0{
  padding-top: 0px !important;
}

.pb-0{
  padding-bottom: 0px !important;
}

.pl-0{
  padding-left: 0px !important;
}

.pr-0{
  padding-right: 0px !important;
}

.mb-0{
  margin-bottom: 0px !important;
}

.mt-0{
  margin-top: 0px !important;
}


.ml-0{
  margin-left: 0px !important;
}

.mr-0{
  margin-right: 0px !important;
}

.mb-1{
  margin-bottom: 1rem !important;
}

.ml-1{
  margin-left: 1rem !important;
}

.mr-1{
  margin-right: 1rem !important;
}

.mt-1{
  margin-top: 1rem !important;
}

.mb-05{
  margin-bottom: 0.5rem !important;
}

.profile_image > img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cursor-pointer{
  cursor:pointer !important;
}

.header-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}